.navbar-nav .nav-link:hover {
    color: #5348f5; /* Цвет текста при наведении */
}
.btn-image {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .btn-image:hover {
    transform: scale(1.1);
  }
  
  .btn-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .gradient-bg {
    background: linear-gradient(to left, #09090a, #273038);
  }

  .contact-info {
    background: linear-gradient(to right,#000000, #525252); /* Градиентный фон */
    padding: 20px;
    border-radius: 10px;
  }

  .contact-info p::before {
    content: "•"; /* Добавление символа перед текстом */
    margin-right: 10px;
    color: #6973ff; /* Цвет символа */
  }